header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1rem;
}

.menu-bar {
    backdrop-filter: blur(0.25rem);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem 1.25rem;
    border: 1px solid #eee;
    border-radius: 2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
}

.menu-button {
    height: 2rem;
    width: 2rem;
    border: 1px solid #555;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
}

.site-logo {
    display: inline-block;
    margin: 0 auto;

    img {
        height: 1.75rem;
        vertical-align: middle;
        position: relative;
        top: 0.1rem;
    }
}

.menu-links {
    display: none;
    width: 100%;
    margin-top: 2rem;
    margin-left: 2rem;
    order: 3;
    /* height: calc(100vh - 7rem); */
}

@media (min-width: 64rem) {
    .menu-bar {
        width: max-content;
        padding: 1rem 2rem;
    }

    .site-logo {
        margin-right: 5rem;
    }
}

.menu-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.menu-button span {
    display: block;
    width: 1rem;
    height: 2px;
    background: #555;
    /* transition: transform 0.2s ease, opacity 0.2s ease; */
}

.menu-links ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}

.menu-links a {
    display: block;
    text-align: left;
}

.menu-toggle:checked~.menu-links {
    display: block;
}

.menu-toggle:checked+.menu-button span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.menu-toggle:checked+.menu-button span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked+.menu-button span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

@media (min-width: 64rem) {
    .menu-button {
        display: none;
    }

    .menu-links {
        display: block;
        width: auto;
        /* height: auto; */
        margin-top: 0;
        order: 0;
    }

    .menu-links ul {
        flex-direction: row;
        align-items: center;
    }
}