* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, hsl(215, 100%, 94%), hsl(150, 93%, 96%) 50%, hsl(109, 87%, 94%));
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    margin: 0 auto;
    padding: 7rem 1rem 1rem;
    max-width: 64rem;
}

.site-logo {
    margin: 2rem auto;
    text-align: center;
    font-size: 1.5rem;
    color: #555;

    img {
        display: block;
        margin: auto;
        height: 3rem;
    }
}

@media (min-width: 64rem) {
    .site-logo {
        margin: 3rem auto;
        font-size: 2rem;

        img {
            height: 4rem;
        }
    }
}