<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/common.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
  {% if page.layout == "home" %}
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
  {% elsif page.layout == "article" %}
  <link rel="stylesheet" href="{{ '/assets/css/article.css' | relative_url }}">
  {% endif %}
  <link rel="icon" href="{{ '/assets/favicon.svg' | relative_url }}">
  <title>
    {% if page.title %}{{ page.title | escape }} - {% endif %}
    {{ site.title | escape }}
  </title>
</head>
