<header>
  <div class="menu-bar">
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label class="menu-button" for="menu-toggle" aria-label="メニューを開閉">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <a class="menu-site-logo" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/m7unet.svg' | relative_url }}" alt="m7u.net">
    </a>
    <nav class="menu-links" aria-label="サイトメニュー">
      <ul class="menu-page-links">
        <!-- <li><a href="https://m7u.net/profile.html">プロフィール</a></li> -->
      </ul>
      <ul class="menu-site-links">
        <li><a href="https://blog.m7u.net/">blog.m7u.net</a></li>
        <li><a href="https://lab.m7u.net/"><img src="{{ '/assets/minayulab.svg' | relative_url }}" alt="みなゆらぼ"></a></li>
      </ul>
      <ul class="menu-social-links">
        <li>
          <a href="https://x.com/minagi_yu"><img src="{{ '/assets/social-icons/x.svg' | relative_url }}" alt="x"></a>
        </li>
        <li>
          <a href="https://github.com/minagi-yu"><img src="{{ '/assets/social-icons/github.svg' | relative_url }}" alt="GitHub"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
